<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>Clase de Producción de Software y Normativas de Propiedad Intelectual.</p>
    <p>Esta es la versión 1.0 de está aplicación.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Ver más</a></li>
    </ul>
  </div>
</section>
