<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <img src="http://www.utp.ac.pa/documentos/2015/imagen/logo_utp_1_72.png" alt="logo_utp" style="width:128px;height:128px;>
    <h1>{{title}}</h1>
    <p>Clase de Producción de Software y Normativas de Propiedad Intelectual.</p>
    <p>Esta es la versión 1.0 de está aplicación.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Ver más</a></li>
      <li><a href="/who" class="button scrolly">Agregar otro Item de la Lista</a></li>
    </ul>
  </div>
</section>
